<h1>Transactions</h1>

<h2>Import transaction</h2>
<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button (click)="fileUpload.click()">
      Import
    </button>
</div>

<h2>Last transaction</h2>
<table>
  <tr>
    <th>Date</th>
    <th>Description</th>
    <th>Category</th>
    <th>Debit</th>
    <th>Credit</th>
  </tr>
  <tr *ngFor="let transaction of transactions">
    <td>{{ transaction.date | date:'MMM d, y'}}</td>
    <td>{{ transaction.description }}</td>
    <td>{{ transaction.category.name }}</td>
    <td>{{ transaction.debit | currency:'CAD'}}</td>
    <td>{{ transaction.credit | currency:'CAD'}}</td>
  </tr>
</table>