<mat-toolbar class="header">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>{{ title }}</span>
	<span class="toolbar-item-spacer"></span>
	<!-- <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
		<mat-icon>account_circle</mat-icon>
	</button> -->
</mat-toolbar>

<mat-sidenav-container class="container" autosize>
	<mat-sidenav #sidenav mode="side" opened="true" class="sidenav">
		<mat-nav-list>
			<!-- <mat-icon fontIcon="dashboard"></mat-icon> -->
			<a mat-list-item routerLink="/">Dashboard</a>
			<!-- <mat-icon fontIcon="store"></mat-icon> -->
			<a mat-list-item routerLink="/Categories">Categories & Budgets</a>
			<!-- <mat-icon fontIcon="payments"></mat-icon> -->
			<a mat-list-item routerLink="/Transactions">Transactions</a>
		</mat-nav-list>
	</mat-sidenav>

	<mat-sidenav-content class="content">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="footer">Money 2023</mat-toolbar>
